DATASET_PATH="/home/bektemir/Desktop/office/AI/data_set_for_car_body_type"

MODEL_PATH='models/best.pt'
APP_PORT=8787

POSTGRES_HOST=192.168.50.33
POSTGRES_DB="car_classification_db"
POSTGRES_USER="car_classification"
POSTGRES_PASSWORD="pass"
POSTGRES_PORT=5437

TZ=Asia/Bishkek