ultralytics>=8.3.12
grpcio-tools
psycopg2-binary
pydantic
pydantic-settings
pillow
opencv-python-headless
python-multipart
python-jose
passlib

#python -m grpc_tools.protoc -I. --python_out=. --grpc_python_out=. body_classify.proto